#Backend

DATABASE_DRIVER=postgres
# DATABASE_HOST=localhost
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=developer
DATABASE_PASSWORD=developer
DATABASE_NAME=film_project
DEBUG=*
LOGGER_TYPE=dev

PGADMIN_DEFAULT_EMAIL=admin@mail.ru
PGADMIN_DEFAULT_PASSWORD=admin

#Frontend

#Local
# VITE_API_URL=http://localhost:3000/api/afisha
# VITE_CDN_URL=http://localhost:3000/content/afisha

#Docker
# VITE_API_URL=//localhost/api/afisha
# VITE_CDN_URL=//localhost/content/afisha

VITE_API_URL=http://backend:3000/api/afisha
VITE_CDN_URL=http://backend:3000/content/afisha