DATABASE_DRIVER='postgres'
DATABASE_URL='postgres://developer:developer@postgres:5432/film_project'
# Для локальной сборки DATABASE_HOST='localhost'
# Для Docker
DATABASE_HOST='postgres'
DATABASE_PORT=5432
DATABASE_USER='developer'
DATABASE_PASSWORD='developer'
DATABASE_NAME='film_project'
DEBUG=*

PGADMIN_DEFAULT_EMAIL: defaultemail@mail.ru
PGADMIN_DEFAULT_PASSWORD: securepassword123